/.phpunit.cache
/node_modules
/public/blog
/public/img
/public/hot
/public/event_types
/public/gallery
/public/company_logo.png
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
/public/text/*.txt
/theme
